.mcs-describe {
    width: 9.8rem;
    font-size: 0.16rem;
    color: #000000;
    line-height: 0.24rem;
    margin: 0.6rem auto 0.51rem;
}
.mcs-describe p {
    font-size: 0.18rem;
    color: #424242;
    line-height: 0.28rem;
}

.mcs-contrast .mcs-contract-img {
    background-image: url(../images/mcs/1.png);
    background-size: cover;
    width: 9.8rem;
    height: 4.23rem;
    display: block;
    margin: 0 auto;
}

.mcs-subtitle {
    width: 10.61rem;
    font-size: 0.18rem;
    text-align: left;
    margin: 0.72rem auto 0.48rem;
    color: #424242;
    line-height: 0.28rem;
}
.mcs-icon {
    width: 12rem;
    margin: 0 auto 0.53rem;
}
.mcs-icon-date {
    height: 4.94rem;
    margin: 0 0.2rem;
    padding: 0;
    float: left;
    text-align: center;
}
.mcs-icon-date:first-child {
    margin-left: 1.1rem;
 }
.mcs-icon-date img {
    width: 3.15rem;
    height: 4.94rem;
}
.mcs-icon-date h2 {
    font-size: 0.2rem;
    margin-bottom: 0.2rem;
    text-align: center;
    color: #2D2D2D;
    margin-top: -2.7rem;
    padding-left: 0.2rem;
}
.mcs-icon-date p {
    opacity: 0.5;
    font-size: 0.16rem;
    color: #419BF9;
    margin-bottom: 0.16rem;
    text-align: center;
}
.mcs-icon-date div {
    width: 2.6rem;
    opacity: 0.69;
    font-size: 0.18rem;
    line-height: 0.24rem;
    margin: 0 auto;
    text-align: center;
    color: #424242;
    padding-left: 0.1rem;
}
.mcs-backbone {
    padding: 0.4rem 0 0.4rem 4rem;
    border-radius: 1px;
}
.mcs-backbone:nth-child(odd) {
    background: #4E8BE6;
    border-radius: 1px;
}
.mcs-backbone:nth-child(even) {
    border-radius: 8px;
}
.mcs-backbone-l,.mcs-backbone-r {
    float: left;
}
.mcs-backbone-l img {
    opacity: 1;
}
.mcs-backbone:nth-child(odd) .mcs-backbone-title,.mcs-backbone:nth-child(even) .mcs-backbone-title {
    font-size: 0.36rem;
    letter-spacing: 0;
    line-height: 0.52rem;
    margin: 0.6rem 0 0.3rem 0.72rem;
}
.mcs-backbone:nth-child(odd) .mcs-backbone-title {
    color: #FFFFFF;
}
.mcs-backbone:nth-child(even) .mcs-backbone-title {
    color: #2D2D2D;
}
.mcs-backbone:nth-child(odd) .mcs-backbone-msg,.mcs-backbone:nth-child(even) .mcs-backbone-msg{
    width: 4.56rem;
    opacity: 0.69;
    font-size: 0.18rem;
    line-height: 0.24rem;
    margin: 0 0 0.59rem 0.72rem;
}
.mcs-backbone:nth-child(odd) .mcs-backbone-msg {
    color: #FFFFFF;
}
.mcs-backbone:nth-child(even) .mcs-backbone-msg {
    color: #2D2D2D;
}
.mcs-backbone-0 .mcs-backbone-l img {
    width: 4.96rem;
    height: 4.5rem;
}
.mcs-backbone-0 .mcs-backbone-r {
    margin-left: 0.2rem;
}
.mcs-backbone-1 .mcs-backbone-l {
    width: 5rem;
    height: 5rem;
    margin: 0.06rem 0.2rem 0.06rem 0;
}
.mcs-backbone-1 .mcs-backbone-l img {
    margin-top: 1.34rem;
    width: 5rem;
    height: 2.28rem;
}
.mcs-backbone-2 .mcs-backbone-l {
    margin: 0.29rem 0.29rem 0 0.2rem;
}
.mcs-backbone-2 .mcs-backbone-l img {
    width: 3.91rem;
    height: 3.91rem;
}
.mcs-backbone-2 .mcs-backbone-r {
    margin-left: 0.82rem;
}
.mcs-backbone-3 .mcs-msg {
    width: 6.14rem;
    margin: 0 0.7rem 0.17rem 0;
}
.mcs-backbone-3 .mcs-msg div {
    font-size: 0.24rem;
    color: #2D2D2D;
    letter-spacing: 0;
    line-height: 0.52rem;
}
.mcs-backbone-3 .mcs-msg p {
    opacity: 0.69;
    font-size: 0.18rem;
    color: #424242;
    line-height: 0.24rem;
}
.mcs-backbone-3 .mcs-backbone-msg {
    width: 6.26rem;
}
.mcs-backbone-3 .mcs-backbone-l {
    width: 3.9rem;
    height: 5.41rem;
    margin-right: 1.4rem;
}
.mcs-backbone-3 .mcs-backbone-l img {
    width: 2.7rem;
    height: 5.17rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
}
.mcs .safety-banner .safety-buy {
    display: block;
    position: absolute;
    top: 5.3rem;
    left: 4.12rem;
    width: 3.36rem;
    height: 0.72rem;
    line-height: 0.72rem;
    color: #fff;
    font-size: 0.2rem;
    background: url('../images/mcs/buttonpic.png');
    text-align: center;
    background-size: cover;
}
.mcs .safety-banner .safety-buy:hover {
    background: url('../images/mcs/buttonclick.png');
    background-size: cover;
}

@media (max-width: 768px) {
    .mcs-describe {
        width: 12rem;
    }
    .mcs-describe p,.mcs-subtitle {
        width: 12rem;
        font-size: 0.6rem;
        color: #424242;
        line-height: 0.8rem;
        padding-bottom: 0.5rem;
        text-align: left;
    }
    .mcs-icon-date {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .mcs-icon-date:first-child {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .vbn-safe {
        top: 2rem;
        left: 8.5%;
    }
    .safety-banner .vbn-msg {
        font-size: 0.5rem;
        top: 3rem;
        left: 8.5%;
        width: 100%;
    }
    .safety-banner .safety-buy {
        top: 4.5rem;
        left: 8.5%;
    }
    .mcs .safety-banner .safety-buy {
        top: 4.9rem;
        left: 8.5%;
    }
    .mcs-contrast .mcs-contract-img {
        width: 12.98rem;
        height: 5.6rem;
        margin: 0 auto;
    }
    .mcs-icon-date img {
        display: none;
    }
    .mcs-icon-date {
        height: auto;
    }
    .mcs-icon-date .mcs-date-pic {
        display: block;
        width: 4.2rem;
        height: 4.2rem;
        margin: 0 auto;
    }
    .mcs-icon-date h2 {
        margin: 0.1rem 0 0.5rem;
        font-size: 0.7rem;
        color: #2D2D2D;
        letter-spacing: 0;
    }
    .mcs-icon-date div {
        width: 12rem;
        font-size: 0.6rem;
        color: #424242;
        letter-spacing: 0;
        line-height: 0.7rem;
    }
    .mcs-backbone {
        padding: 0;
    }
    .mcs-backbone-l {
        float: none;
    }
    .mcs-backbone .mcs-backbone-l img:first-child {
        display: none;
    }
    .mcs-backbone .mcs-backbone-l img:last-child {
        display: block;
        margin: 0 auto;
        width: 4.32rem;
        height: 8.29rem;
    }
    .mcs-backbone-0 {
        padding-top: 0.6rem;
    }
    .mcs-backbone-0 .mcs-backbone-l {
        margin-bottom: 1.5rem;
    }
    .mcs-backbone-0 .mcs-backbone-l img:last-child {
        width: 5.91rem;
        height: 5.86rem;
    }
    .mcs-backbone .mcs-backbone-r {
        float: none;
        width: 12rem;
        margin: 0 auto;
    }
    .mcs-backbone-r {
        padding-bottom: 1rem;
    }
    .mcs-backbone-1 .mcs-backbone-l {
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 1rem 0 1rem;
    }
    .mcs-backbone-1 .mcs-backbone-l img:last-child {
        width: 7.61rem;
        height: 3.47rem;
    }
    .mcs-backbone-2 .mcs-backbone-l {
        padding-top: 1rem;
    }
    .mcs-backbone-2 .mcs-backbone-l img:last-child {
        width: 5.47rem;
        height: 5.47rem;
    }
    .mcs-backbone-3 .mcs-backbone-l {
        width: 100%;
        height: auto;
        padding: 1rem 0 0.2rem;
    }
    .mcs-backbone-3 .mcs-msg div {
        font-size: 0.6rem;
        color: #424242;
        letter-spacing: 0;
        line-height: 0.7rem;
        margin: 0.5rem 0 1rem;
    }
    .mcs-backbone-3 .mcs-msg {
        width: 100%;
        margin-right: 0;
    }
    .mcs-backbone-3 .mcs-msg p {
        font-size: 0.6rem;
        color: #424242;
        letter-spacing: 0;
        line-height: 0.8rem;
    }
    .mcs-backbone:nth-child(odd) .mcs-backbone-title, .mcs-backbone:nth-child(even) .mcs-backbone-title {
        margin: 1rem 0 0.8rem;
        font-size: 0.7rem;
        letter-spacing: 0;
        text-align: left;
    }
    .mcs-backbone:nth-child(even) .mcs-backbone-title p {
        line-height: 0.8rem;
    }
    .mcs-backbone:nth-child(odd) .mcs-backbone-msg, .mcs-backbone:nth-child(even) .mcs-backbone-msg {
        width: 12rem;
        margin: 0.5rem auto 0;
        font-size: 0.6rem;
        letter-spacing: 0;
        line-height: 0.8rem;
    }
}
@media (min-width: 768px) {
    .mcs-icon-date img {
        display: block;
    }
    .mcs-icon-date .mcs-date-pic {
        display: none;
    }
    .mcs-backbone .mcs-backbone-l img:first-child {
        display: block;
    }
    .mcs-backbone .mcs-backbone-l img:last-child {
        display: none;
    }
}


