.mainimage_service{
    height:3.8rem;
    position: relative;
    background: url("../images/service/service.png")  no-repeat;
    background-size: cover;
}
.mainimage_service h1{
    position: absolute;
    font-size: 0.42rem;
    top:0.8rem;
    left:3.5rem;
    color: #FFFFFF;
}
.mainimage_service p{
    position: absolute;
    top:1.5rem;
    left:3.5rem;
    color: #FFFFFF;
    font-size: 0.24rem;

}
.mainimage_service a{
    position: absolute;
    top: 2.3rem;
    left: 3.5rem;
    display: inline-block;
    width:3.36rem;
    height:0.72rem;
    line-height: 0.72rem;
    font-size: 0.3rem;
    color: #FFFFFF;
    background: #5FA2F7;;
    border-radius: 0.08rem;
    text-align: center;
}
.mainimage_service a:hover{
    background: #458ce6;
}
.container_service{
    margin:0 auto;
    width:9.8rem;
    padding: 0;
}
.container_service .service_title{
    font-size: 0.24rem;
    margin-top: 0.53rem;
    font-weight: 600;
}
.container_service .service_title_2{
    font-size: 0.18rem;
    margin-top: 0.53rem;
    font-weight: 600;
}
.container_service .service_detail{
    font-size: 0.18rem;
    line-height: 0.35rem;
    margin-top: 0.14rem;

}
.service-tab-nav-indi{
    background: #5FA2F7;
}
.service-tab-nav-indi .tab-nav-indi > li.active > a{
    background: #448CE6;
}
.container_service .service_detail:nth-last-of-type(1){
    margin-bottom: 0.6rem;
}
.container_service .content_service{
   font-size: 0.18rem;
}
.container_service .content_service p{
    line-height: 0.38rem;
}
.container_service .content_service:nth-last-child(1){
    margin-bottom: 0.6rem;
}
.service_content{
    overflow: hidden;
}
.img_service{
    float: left;
    margin-top: 0.61rem;
    margin-right: 1rem;
    margin-bottom: 0.6rem;
    width:4rem;
    height:4rem;
}
.img_service img{
    width:4rem;
    height:4rem;
}
.query_price{
    float: left;
    margin-top: 1.41rem;



}
.select1 select,.select2 select{
    width:4.4rem;
    height:0.72rem;
    background: #FAFAFA;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 8px;
    outline: none;
    font-size: 0.18rem;
    margin-bottom: 0.2rem;

}
.select1 select option,.select2 select option{
    margin-top: 0.2rem;
    display: block;
    width:4.4rem;
    height:0.72rem;
    line-height: 0.72rem;
    outline: none;
}
.query_price .btn-primary{
    margin-top: 0.2rem;
    opacity: 0.5;
    background: #5FA2F7;
    border-radius: 0.08rem;
    width:4.4rem;
    height:0.72rem;
    font-size: 0.24rem;
    outline:none;
}
.query_price .btn-primary:hover{
    background-color: #458ce6 !important;
}

.query_price .btn-primary:disabled {
    color: #D7E7FD
}

.table_data table{
    border-collapse: collapse;
    border: 1px solid gray;/*相邻边被合并;separate: 边框独立*/
    width:9.78rem;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0.2rem;
}
.table_data table tr:nth-of-type(1){
    background: #F2F2F2;
}
.table_data table tr{
    height:0.72rem;
    line-height: 0.72rem;
    text-align: center;
}
.table_data table tr td{
    border: 1px solid gray;
}
.special_point{
    margin-bottom: 0.6rem;
}
.special_point h3{
    font-size: 0.18rem;
    color: #424242;
    margin-bottom: 0.05rem;
}
.special_point p{
    font-size: 0.18rem;
    color: #424242;
    line-height: 0.38rem;
}
