/*stageQa css*/
.message {
    width:9.8rem;
    padding: 0;
    margin-left: 0.3rem;
}
.post-content-hide {
    display: none;
}
.post.qa-item .post-content-color {
    color: #FF8C0A;
}
.post-retract {
    font-size: 0.16rem;
    padding: 0.08rem 0;
    text-align: center;
    color: rgba(0,0,0,.2);
    cursor: pointer;
}
.qa-item{
    width: 9.8rem;
    padding: 0 0 0.2rem;
}
.qa-item h2 {
    font-size: 0.24rem;
    color: #424242;
    line-height: 0.34rem;
}
.qa-item .post-title {
    cursor: pointer;
    display: inline-block;
}
.qa-item .post-title:hover{
    border-bottom: 1px solid black;
}
.qa-item .post-content p,.qa-item .post-content p span {
    font-size: 0.18rem!important;
    color: #424242!important;
    line-height: 0.28rem;
    font-family: inherit!important;
}
.qa-item .post-content .post-retract {
    font-size: 0.18rem;
    color: #424242;
    letter-spacing: 0;
}
.qa-item .jiantou{
    position: absolute;
    width:0.1rem;
    height:0.08rem;
    background: url("../images/DOWN.png") no-repeat 100% 100%;
    right: 0rem;
    bottom: 0.1rem;

}
.qa-item .jiantou1{
    display: inline-block;
    position: absolute;
    width:0.1rem;
    height:0.08rem;
    background: url("../images/up.html") no-repeat 100% 100%;
    right: 0rem;
    bottom: 0.1rem;
}
.qa-item:nth-of-type(1){
    margin-top: 0.4rem;
}
.qa-item .qa-content{
    position: relative;
}
@media only screen and (max-width: 750px){
    .qa-item{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 0.6rem;
        line-height: 0.8rem;
    }
    .post{
        padding: 0 !important;
    }
    .qa-item .jiantou{
        display: none;
    }
    .qa-item .post-content p,.qa-item .post-content p span {
        font-size: 0.6rem!important;
        line-height: 0.8rem;
    }
    .qa-item .qa-content h2{
        font-size: 0.6rem;
        line-height: 0.8rem;
    }
    .message {
        width:100%;
        padding: 0;
        margin-left: 0.3rem;
    }
    .qa-item .post-content .post-retract {
        font-size: 0.5rem;
        text-align: left;
        margin-top: 0.4rem;
    }


}

